<div class="cal-week-view">
  <mwl-calendar-week-view-header>
    <!---->
    <!---->
    <div class="cal-day-headers ng-star-inserted">
      <!---->
      <div class="cal-header cal-past cal-weekend ng-star-inserted" mwldroppable="" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
        <b>星期日</b>
        <br>
        <span>13日</span>
      </div>
      <div class="cal-header cal-past ng-star-inserted" mwldroppable="" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
        <b>星期一</b>
        <br>
        <span>14日</span>
      </div>
      <div class="cal-header cal-today ng-star-inserted" mwldroppable="" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
        <b>星期二</b>
        <br>
        <span>15日</span>
      </div>
      <div class="cal-header cal-future ng-star-inserted" mwldroppable="" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
        <b>星期三</b>
        <br>
        <span>16日</span>
      </div>
      <div class="cal-header cal-future ng-star-inserted" mwldroppable="" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
        <b>星期四</b>
        <br>
        <span>17日</span>
      </div>
      <div class="cal-header cal-future ng-star-inserted" mwldroppable="" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
        <b>星期五</b>
        <br>
        <span>18日</span>
      </div>
      <div class="cal-header cal-future cal-weekend ng-star-inserted" mwldroppable="" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
        <b>星期六</b>
        <br>
        <span>19日</span>
      </div>
    </div>

  </mwl-calendar-week-view-header>
  <!---->
  <div class="cal-events-row ng-star-inserted">
    <!---->
    <div class="cal-event-container cal-starts-within-week cal-ends-within-week ng-star-inserted" mwldraggable="" mwlresizable=""
      style="width: 71.4825%; margin-left: 14.2857%;">
      <mwl-calendar-week-view-event>
        <!---->
        <!---->
        <div class="cal-event ng-star-inserted" style="background-color: rgb(250, 227, 227); border-color: rgb(173, 33, 33);">
          <mwl-calendar-event-actions>
            <!---->
            <span class="cal-event-actions ng-star-inserted">
              <!---->
              <a class="cal-event-action ng-star-inserted" href="javascript:;" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <i class="fa fa-fw fa-pencil"></i>
              </a>
              <a class="cal-event-action ng-star-inserted" href="javascript:;" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <i class="fa fa-fw fa-times"></i>
              </a>
            </span>
          </mwl-calendar-event-actions>

          <mwl-calendar-event-title view="week" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
            <!---->
            <!---->
            <a class="cal-event-title ng-star-inserted" href="javascript:;">上班~~~</a>

          </mwl-calendar-event-title>
        </div>

      </mwl-calendar-week-view-event>
    </div>
  </div>
  <div class="cal-events-row ng-star-inserted">
    <!---->
    <div class="cal-event-container cal-starts-within-week cal-ends-within-week ng-star-inserted" mwldraggable="" mwlresizable=""
      style="width: 14.2857%; margin-left: 28.5714%;">
      <mwl-calendar-week-view-event>
        <!---->
        <!---->
        <div class="cal-event ng-star-inserted" style="background-color: rgb(253, 241, 186); border-color: rgb(227, 188, 8);">
          <mwl-calendar-event-actions>
            <!---->
            <span class="cal-event-actions ng-star-inserted">
              <!---->
              <a class="cal-event-action ng-star-inserted" href="javascript:;" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <i class="fa fa-fw fa-pencil"></i>
              </a>
              <a class="cal-event-action ng-star-inserted" href="javascript:;" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <i class="fa fa-fw fa-times"></i>
              </a>
            </span>
          </mwl-calendar-event-actions>

          <mwl-calendar-event-title view="week" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
            <!---->
            <!---->
            <a class="cal-event-title ng-star-inserted" href="javascript:;">Angular 讀書會</a>

          </mwl-calendar-event-title>
        </div>

      </mwl-calendar-week-view-event>
    </div>
  </div>
  <div class="cal-events-row ng-star-inserted">
    <!---->
    <div class="cal-event-container cal-draggable cal-starts-within-week cal-ends-within-week ng-star-inserted" mwldraggable=""
      mwlresizable="" style="width: 14.2857%; margin-left: 28.5714%;">
      <mwl-calendar-week-view-event>
        <!---->
        <!---->
        <div class="cal-event ng-star-inserted" style="background-color: rgb(253, 241, 186); border-color: rgb(227, 188, 8);">
          <mwl-calendar-event-actions>
            <!---->
            <span class="cal-event-actions ng-star-inserted">
              <!---->
              <a class="cal-event-action ng-star-inserted" href="javascript:;" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <i class="fa fa-fw fa-pencil"></i>
              </a>
              <a class="cal-event-action ng-star-inserted" href="javascript:;" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <i class="fa fa-fw fa-times"></i>
              </a>
            </span>
          </mwl-calendar-event-actions>

          <mwl-calendar-event-title view="week" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
            <!---->
            <!---->
            <a class="cal-event-title ng-star-inserted" href="javascript:;">晚上要買東西</a>

          </mwl-calendar-event-title>
        </div>

      </mwl-calendar-week-view-event>
    </div>
  </div>
</div>
