<div class="wrapper" [ngClass]="theme">
  <header class="header">
    <div class="title">
      <span *ngIf="mode === 'Year'">{{ minYear }} ~ {{ minYear + 24 }}年</span>
      <span *ngIf="mode === 'Month'">{{ selectedYear }}年</span>
    </div>
    <div class="button-block">

      <ng-container *ngIf="mode === 'Year'; else Month">

        <button class="header-button" (click)="prevYearRange()">
          <div class="button left"></div>
        </button>
        <button class="header-button" *ngIf="mode === 'Year'" (click)="nextYearRange()">
          <div class="button right"></div>
        </button>
      </ng-container>

      <ng-template #Month>
        <button class="header-button" (click)="backToYearSelector()">
          ▲
        </button>
      </ng-template>

    </div>
  </header>
  <div *ngIf="mode === 'Year'" class="container">
    <div class="box year" *ngFor="let year of years; let i = index;" (click)="selectYear(year)">{{ year }}</div>
  </div>
  <div *ngIf="mode === 'Month'" class="container">
    <div class="box" *ngFor="let month of months; let i = index;" (click)="selectMonth(month)">{{ month + 1 }}</div>
  </div>
</div>
