<div class="wrapper">
  <header>
    <a href="javascript:void(0)" class="hide-list">
      <span *ngIf="mode === 'Year'">{{ minYear }} ~ {{ minYear + 24 }}年</span>
      <span *ngIf="mode === 'Month'" (click)="backToYearSelector()">{{ selectedYear }}年▲</span>
    </a>
    <a *ngIf="mode === 'Year'" style="float: right;" (click)="nextYearRange()">＞</a>
    <a *ngIf="mode === 'Year'" style="float: right;" (click)="prevYearRange()">＜</a>
  </header>
  <div *ngIf="mode === 'Year'" class="container">
    <div class="box year" *ngFor="let year of years; let i = index;" (click)="selectYear(year)">{{ year }}</div>
  </div>
  <div *ngIf="mode === 'Month'" class="container">
    <div class="box" *ngFor="let month of months; let i = index;" (click)="selectMonth(month)">{{ month + 1 }}</div>
  </div>
</div>
