<div [ngClass]="className" class="content">
  <div class="title">
    <div class="hour name" *ngFor="let item of hour">
      {{ item.name }}
    </div>
  </div>
  <div class="strip">
    <section *ngFor="let item of hour;let index = index;" class="hour" #bar>
      <div class="line">
        <div class="active" [ngStyle]="active.first" *ngFor="let active of item.active">

        </div>
      </div>
      <div class="line">
        <div class="active" [ngStyle]="active.second" *ngFor="let active of item.active">

        </div>
      </div>

    </section>
    <div *ngFor="let item of data" class="bar" [ngStyle]="item.style">
    </div>
     <!--<div style="background: green;
    height: 90px;
    width: 100px;
    position: absolute;
    top: 180px;
    left: 100px;">
    </div>
    <div style="background: pink;
    height: 120px;
    width: 100px;
    position: absolute;
    top: 180px;left: 200px;">
    </div>
    <div style="background: paleturquoise;
    height: 210px;
    width: 100px;
    position: absolute;
    top: 180px;left: 300px;">
    </div> -->
  </div>
</div>
