.black {
  .hour {
    .line {
      border-bottom: thin dashed #888f90;
      &:hover {
        background: wheat;
      }
    }
    &.name {
      color: white;
    }
    &:nth-child(odd) {
      background: #6f6e6e;
    }
  }
}

.white {
  .hour {
    .line {
      border-bottom: thin dashed black;
      &:hover {
        background: wheat;
      }
    }
    &:nth-child(odd) {
      background: #fbeeee;
    }
  }
}

.content {
  display: flex;
  margin-bottom: 30px;
  .title {
    width: 100px;
    flex: 0 0 100px;
  }
  .strip {
    position: relative;
    width: 100%;
    overflow-x: auto;
  }
  .hour {
    height: 60px;
    &.name {
      line-height: 60px;
      text-align: center;
    }
    .line {
      height: 30px;
      display: flex;
      .active {
        width: 100px;
        height: 100%;
        flex: 0 0 100px;
        box-sizing: content-box;
        z-index: 1;
      }
    }
  }
}

.bar {
  width: 100px;
  position: absolute;
}
