<div class="cal-day-view">
    <!---->
    <div class="cal-hour-rows">
      <div class="cal-events">
        <!---->
        <div class="cal-event-container ng-star-inserted" mwldraggable="" mwlresizable="" style="margin-top: 0px; height: 1439px; margin-left: 70px; width: 149px;">
          <mwl-calendar-day-view-event>
            <!---->
            <!---->
            <div class="cal-event ng-star-inserted" style="background-color: rgb(255, 137, 54); border-color: rgb(173, 33, 33);">
              <mwl-calendar-event-actions>
                <!---->
                <span class="cal-event-actions ng-star-inserted">
                  <!---->
                  <a class="cal-event-action ng-star-inserted" href="javascript:;" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                    <i class="fa fa-fw fa-pencil"></i>
                  </a>
                  <a class="cal-event-action ng-star-inserted" href="javascript:;" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                    <i class="fa fa-fw fa-times"></i>
                  </a>
                </span>
              </mwl-calendar-event-actions>

              <mwl-calendar-event-title view="day" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <!---->
                <!---->
                <a class="cal-event-title ng-star-inserted" href="javascript:;">訓練-1</a>

              </mwl-calendar-event-title>
            </div>

          </mwl-calendar-day-view-event>
        </div>
        <div class="cal-event-container cal-starts-within-day cal-ends-within-day ng-star-inserted" mwldraggable="" mwlresizable=""
          style="margin-top: 0px; height: 30px; margin-left: 220px; width: 149px;">
          <mwl-calendar-day-view-event>
            <!---->
            <!---->
            <div class="cal-event ng-star-inserted" style="background-color: rgb(144, 215, 255); border-color: rgb(227, 188, 8);">
              <mwl-calendar-event-actions>
                <!---->
                <span class="cal-event-actions ng-star-inserted">
                  <!---->
                  <a class="cal-event-action ng-star-inserted" href="javascript:;" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                    <i class="fa fa-fw fa-pencil"></i>
                  </a>
                  <a class="cal-event-action ng-star-inserted" href="javascript:;" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                    <i class="fa fa-fw fa-times"></i>
                  </a>
                </span>
              </mwl-calendar-event-actions>

              <mwl-calendar-event-title view="day" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <!---->
                <!---->
                <a class="cal-event-title ng-star-inserted" href="javascript:;">海訓-01</a>

              </mwl-calendar-event-title>
            </div>

          </mwl-calendar-day-view-event>
        </div>
        <div class="cal-event-container cal-starts-within-day cal-ends-within-day ng-star-inserted" mwldraggable=""
          mwlresizable="" style="margin-top: 120px; height: 1170px; margin-left: 220px; width: 149px;">
          <mwl-calendar-day-view-event>
            <!---->
            <!---->
            <div class="cal-event ng-star-inserted" style="background-color: rgb(144, 215, 255); border-color: rgb(227, 188, 8);">
              <mwl-calendar-event-actions>
                <!---->
                <span class="cal-event-actions ng-star-inserted">
                  <!---->
                  <a class="cal-event-action ng-star-inserted" href="javascript:;" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                    <i class="fa fa-fw fa-pencil"></i>
                  </a>
                  <a class="cal-event-action ng-star-inserted" href="javascript:;" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                    <i class="fa fa-fw fa-times"></i>
                  </a>
                </span>
              </mwl-calendar-event-actions>

              <mwl-calendar-event-title view="day" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <!---->
                <!---->
                <a class="cal-event-title ng-star-inserted" href="javascript:;">海訓-02</a>

              </mwl-calendar-event-title>
            </div>

          </mwl-calendar-day-view-event>
        </div>
      </div>
      <!---->
      <div class="cal-hour ng-star-inserted" style="min-width: 370px;">
        <!---->
        <mwl-calendar-day-view-hour-segment mwldroppable="" class="ng-star-inserted" style="height: 30px;">
          <!---->
          <!---->
          <div class="cal-hour-segment cal-hour-start ng-star-inserted" style="height: 30px;">
            <div class="cal-time">
              12 AM
            </div>
          </div>

        </mwl-calendar-day-view-hour-segment>
        <mwl-calendar-day-view-hour-segment mwldroppable="" class="ng-star-inserted" style="height: 30px;">
          <!---->
          <!---->
          <div class="cal-hour-segment cal-after-hour-start ng-star-inserted" style="height: 30px;">
            <div class="cal-time">
              12 AM
            </div>
          </div>

        </mwl-calendar-day-view-hour-segment>
      </div>
      <div class="cal-hour ng-star-inserted" style="min-width: 370px;">
        <!---->
        <mwl-calendar-day-view-hour-segment mwldroppable="" class="ng-star-inserted" style="height: 30px;">
          <!---->
          <!---->
          <div class="cal-hour-segment cal-hour-start ng-star-inserted" style="height: 30px;">
            <div class="cal-time">
              1 AM
            </div>
          </div>

        </mwl-calendar-day-view-hour-segment>
        <mwl-calendar-day-view-hour-segment mwldroppable="" class="ng-star-inserted" style="height: 30px;">
          <!---->
          <!---->
          <div class="cal-hour-segment cal-after-hour-start ng-star-inserted" style="height: 30px;">
            <div class="cal-time">
              1 AM
            </div>
          </div>

        </mwl-calendar-day-view-hour-segment>
      </div>
      <div class="cal-hour ng-star-inserted" style="min-width: 370px;">
        <!---->
        <mwl-calendar-day-view-hour-segment mwldroppable="" class="ng-star-inserted" style="height: 30px;">
          <!---->
          <!---->
          <div class="cal-hour-segment cal-hour-start ng-star-inserted" style="height: 30px;">
            <div class="cal-time">
              2 AM
            </div>
          </div>

        </mwl-calendar-day-view-hour-segment>
        <mwl-calendar-day-view-hour-segment mwldroppable="" class="ng-star-inserted" style="height: 30px;">
          <!---->
          <!---->
          <div class="cal-hour-segment cal-after-hour-start ng-star-inserted" style="height: 30px;">
            <div class="cal-time">
              2 AM
            </div>
          </div>

        </mwl-calendar-day-view-hour-segment>
      </div>
      <div class="cal-hour ng-star-inserted" style="min-width: 370px;">
        <!---->
        <mwl-calendar-day-view-hour-segment mwldroppable="" class="ng-star-inserted" style="height: 30px;">
          <!---->
          <!---->
          <div class="cal-hour-segment cal-hour-start ng-star-inserted" style="height: 30px;">
            <div class="cal-time">
              3 AM
            </div>
          </div>

        </mwl-calendar-day-view-hour-segment>
        <mwl-calendar-day-view-hour-segment mwldroppable="" class="ng-star-inserted" style="height: 30px;">
          <!---->
          <!---->
          <div class="cal-hour-segment cal-after-hour-start ng-star-inserted" style="height: 30px;">
            <div class="cal-time">
              3 AM
            </div>
          </div>

        </mwl-calendar-day-view-hour-segment>
      </div>
      <div class="cal-hour ng-star-inserted" style="min-width: 370px;">
        <!---->
        <mwl-calendar-day-view-hour-segment mwldroppable="" class="ng-star-inserted" style="height: 30px;">
          <!---->
          <!---->
          <div class="cal-hour-segment cal-hour-start ng-star-inserted" style="height: 30px;">
            <div class="cal-time">
              4 AM
            </div>
          </div>

        </mwl-calendar-day-view-hour-segment>
        <mwl-calendar-day-view-hour-segment mwldroppable="" class="ng-star-inserted" style="height: 30px;">
          <!---->
          <!---->
          <div class="cal-hour-segment cal-after-hour-start ng-star-inserted" style="height: 30px;">
            <div class="cal-time">
              4 AM
            </div>
          </div>

        </mwl-calendar-day-view-hour-segment>
      </div>
      <div class="cal-hour ng-star-inserted" style="min-width: 370px;">
        <!---->
        <mwl-calendar-day-view-hour-segment mwldroppable="" class="ng-star-inserted" style="height: 30px;">
          <!---->
          <!---->
          <div class="cal-hour-segment cal-hour-start ng-star-inserted" style="height: 30px;">
            <div class="cal-time">
              5 AM
            </div>
          </div>

        </mwl-calendar-day-view-hour-segment>
        <mwl-calendar-day-view-hour-segment mwldroppable="" class="ng-star-inserted" style="height: 30px;">
          <!---->
          <!---->
          <div class="cal-hour-segment cal-after-hour-start ng-star-inserted" style="height: 30px;">
            <div class="cal-time">
              5 AM
            </div>
          </div>

        </mwl-calendar-day-view-hour-segment>
      </div>
      <div class="cal-hour ng-star-inserted" style="min-width: 370px;">
        <!---->
        <mwl-calendar-day-view-hour-segment mwldroppable="" class="ng-star-inserted" style="height: 30px;">
          <!---->
          <!---->
          <div class="cal-hour-segment cal-hour-start ng-star-inserted" style="height: 30px;">
            <div class="cal-time">
              6 AM
            </div>
          </div>

        </mwl-calendar-day-view-hour-segment>
        <mwl-calendar-day-view-hour-segment mwldroppable="" class="ng-star-inserted" style="height: 30px;">
          <!---->
          <!---->
          <div class="cal-hour-segment cal-after-hour-start ng-star-inserted" style="height: 30px;">
            <div class="cal-time">
              6 AM
            </div>
          </div>

        </mwl-calendar-day-view-hour-segment>
      </div>
      <div class="cal-hour ng-star-inserted" style="min-width: 370px;">
        <!---->
        <mwl-calendar-day-view-hour-segment mwldroppable="" class="ng-star-inserted" style="height: 30px;">
          <!---->
          <!---->
          <div class="cal-hour-segment cal-hour-start ng-star-inserted" style="height: 30px;">
            <div class="cal-time">
              7 AM
            </div>
          </div>

        </mwl-calendar-day-view-hour-segment>
        <mwl-calendar-day-view-hour-segment mwldroppable="" class="ng-star-inserted" style="height: 30px;">
          <!---->
          <!---->
          <div class="cal-hour-segment cal-after-hour-start ng-star-inserted" style="height: 30px;">
            <div class="cal-time">
              7 AM
            </div>
          </div>

        </mwl-calendar-day-view-hour-segment>
      </div>
      <div class="cal-hour ng-star-inserted" style="min-width: 370px;">
        <!---->
        <mwl-calendar-day-view-hour-segment mwldroppable="" class="ng-star-inserted" style="height: 30px;">
          <!---->
          <!---->
          <div class="cal-hour-segment cal-hour-start ng-star-inserted" style="height: 30px;">
            <div class="cal-time">
              8 AM
            </div>
          </div>

        </mwl-calendar-day-view-hour-segment>
        <mwl-calendar-day-view-hour-segment mwldroppable="" class="ng-star-inserted" style="height: 30px;">
          <!---->
          <!---->
          <div class="cal-hour-segment cal-after-hour-start ng-star-inserted" style="height: 30px;">
            <div class="cal-time">
              8 AM
            </div>
          </div>

        </mwl-calendar-day-view-hour-segment>
      </div>
      <div class="cal-hour ng-star-inserted" style="min-width: 370px;">
        <!---->
        <mwl-calendar-day-view-hour-segment mwldroppable="" class="ng-star-inserted" style="height: 30px;">
          <!---->
          <!---->
          <div class="cal-hour-segment cal-hour-start ng-star-inserted" style="height: 30px;">
            <div class="cal-time">
              9 AM
            </div>
          </div>

        </mwl-calendar-day-view-hour-segment>
        <mwl-calendar-day-view-hour-segment mwldroppable="" class="ng-star-inserted" style="height: 30px;">
          <!---->
          <!---->
          <div class="cal-hour-segment cal-after-hour-start ng-star-inserted" style="height: 30px;">
            <div class="cal-time">
              9 AM
            </div>
          </div>

        </mwl-calendar-day-view-hour-segment>
      </div>
      <div class="cal-hour ng-star-inserted" style="min-width: 370px;">
        <!---->
        <mwl-calendar-day-view-hour-segment mwldroppable="" class="ng-star-inserted" style="height: 30px;">
          <!---->
          <!---->
          <div class="cal-hour-segment cal-hour-start ng-star-inserted" style="height: 30px;">
            <div class="cal-time">
              10 AM
            </div>
          </div>

        </mwl-calendar-day-view-hour-segment>
        <mwl-calendar-day-view-hour-segment mwldroppable="" class="ng-star-inserted" style="height: 30px;">
          <!---->
          <!---->
          <div class="cal-hour-segment cal-after-hour-start ng-star-inserted" style="height: 30px;">
            <div class="cal-time">
              10 AM
            </div>
          </div>

        </mwl-calendar-day-view-hour-segment>
      </div>
      <div class="cal-hour ng-star-inserted" style="min-width: 370px;">
        <!---->
        <mwl-calendar-day-view-hour-segment mwldroppable="" class="ng-star-inserted" style="height: 30px;">
          <!---->
          <!---->
          <div class="cal-hour-segment cal-hour-start ng-star-inserted" style="height: 30px;">
            <div class="cal-time">
              11 AM
            </div>
          </div>

        </mwl-calendar-day-view-hour-segment>
        <mwl-calendar-day-view-hour-segment mwldroppable="" class="ng-star-inserted" style="height: 30px;">
          <!---->
          <!---->
          <div class="cal-hour-segment cal-after-hour-start ng-star-inserted" style="height: 30px;">
            <div class="cal-time">
              11 AM
            </div>
          </div>

        </mwl-calendar-day-view-hour-segment>
      </div>
      <div class="cal-hour ng-star-inserted" style="min-width: 370px;">
        <!---->
        <mwl-calendar-day-view-hour-segment mwldroppable="" class="ng-star-inserted" style="height: 30px;">
          <!---->
          <!---->
          <div class="cal-hour-segment cal-hour-start ng-star-inserted" style="height: 30px;">
            <div class="cal-time">
              12 PM
            </div>
          </div>

        </mwl-calendar-day-view-hour-segment>
        <mwl-calendar-day-view-hour-segment mwldroppable="" class="ng-star-inserted" style="height: 30px;">
          <!---->
          <!---->
          <div class="cal-hour-segment cal-after-hour-start ng-star-inserted" style="height: 30px;">
            <div class="cal-time">
              12 PM
            </div>
          </div>

        </mwl-calendar-day-view-hour-segment>
      </div>
      <div class="cal-hour ng-star-inserted" style="min-width: 370px;">
        <!---->
        <mwl-calendar-day-view-hour-segment mwldroppable="" class="ng-star-inserted" style="height: 30px;">
          <!---->
          <!---->
          <div class="cal-hour-segment cal-hour-start ng-star-inserted" style="height: 30px;">
            <div class="cal-time">
              1 PM
            </div>
          </div>

        </mwl-calendar-day-view-hour-segment>
        <mwl-calendar-day-view-hour-segment mwldroppable="" class="ng-star-inserted" style="height: 30px;">
          <!---->
          <!---->
          <div class="cal-hour-segment cal-after-hour-start ng-star-inserted" style="height: 30px;">
            <div class="cal-time">
              1 PM
            </div>
          </div>

        </mwl-calendar-day-view-hour-segment>
      </div>
      <div class="cal-hour ng-star-inserted" style="min-width: 370px;">
        <!---->
        <mwl-calendar-day-view-hour-segment mwldroppable="" class="ng-star-inserted" style="height: 30px;">
          <!---->
          <!---->
          <div class="cal-hour-segment cal-hour-start ng-star-inserted" style="height: 30px;">
            <div class="cal-time">
              2 PM
            </div>
          </div>

        </mwl-calendar-day-view-hour-segment>
        <mwl-calendar-day-view-hour-segment mwldroppable="" class="ng-star-inserted" style="height: 30px;">
          <!---->
          <!---->
          <div class="cal-hour-segment cal-after-hour-start ng-star-inserted" style="height: 30px;">
            <div class="cal-time">
              2 PM
            </div>
          </div>

        </mwl-calendar-day-view-hour-segment>
      </div>
      <div class="cal-hour ng-star-inserted" style="min-width: 370px;">
        <!---->
        <mwl-calendar-day-view-hour-segment mwldroppable="" class="ng-star-inserted" style="height: 30px;">
          <!---->
          <!---->
          <div class="cal-hour-segment cal-hour-start ng-star-inserted" style="height: 30px;">
            <div class="cal-time">
              3 PM
            </div>
          </div>

        </mwl-calendar-day-view-hour-segment>
        <mwl-calendar-day-view-hour-segment mwldroppable="" class="ng-star-inserted" style="height: 30px;">
          <!---->
          <!---->
          <div class="cal-hour-segment cal-after-hour-start ng-star-inserted" style="height: 30px;">
            <div class="cal-time">
              3 PM
            </div>
          </div>

        </mwl-calendar-day-view-hour-segment>
      </div>
      <div class="cal-hour ng-star-inserted" style="min-width: 370px;">
        <!---->
        <mwl-calendar-day-view-hour-segment mwldroppable="" class="ng-star-inserted" style="height: 30px;">
          <!---->
          <!---->
          <div class="cal-hour-segment cal-hour-start ng-star-inserted" style="height: 30px;">
            <div class="cal-time">
              4 PM
            </div>
          </div>

        </mwl-calendar-day-view-hour-segment>
        <mwl-calendar-day-view-hour-segment mwldroppable="" class="ng-star-inserted" style="height: 30px;">
          <!---->
          <!---->
          <div class="cal-hour-segment cal-after-hour-start ng-star-inserted" style="height: 30px;">
            <div class="cal-time">
              4 PM
            </div>
          </div>

        </mwl-calendar-day-view-hour-segment>
      </div>
      <div class="cal-hour ng-star-inserted" style="min-width: 370px;">
        <!---->
        <mwl-calendar-day-view-hour-segment mwldroppable="" class="ng-star-inserted" style="height: 30px;">
          <!---->
          <!---->
          <div class="cal-hour-segment cal-hour-start ng-star-inserted" style="height: 30px;">
            <div class="cal-time">
              5 PM
            </div>
          </div>

        </mwl-calendar-day-view-hour-segment>
        <mwl-calendar-day-view-hour-segment mwldroppable="" class="ng-star-inserted" style="height: 30px;">
          <!---->
          <!---->
          <div class="cal-hour-segment cal-after-hour-start ng-star-inserted" style="height: 30px;">
            <div class="cal-time">
              5 PM
            </div>
          </div>

        </mwl-calendar-day-view-hour-segment>
      </div>
      <div class="cal-hour ng-star-inserted" style="min-width: 370px;">
        <!---->
        <mwl-calendar-day-view-hour-segment mwldroppable="" class="ng-star-inserted" style="height: 30px;">
          <!---->
          <!---->
          <div class="cal-hour-segment cal-hour-start ng-star-inserted" style="height: 30px;">
            <div class="cal-time">
              6 PM
            </div>
          </div>

        </mwl-calendar-day-view-hour-segment>
        <mwl-calendar-day-view-hour-segment mwldroppable="" class="ng-star-inserted" style="height: 30px;">
          <!---->
          <!---->
          <div class="cal-hour-segment cal-after-hour-start ng-star-inserted" style="height: 30px;">
            <div class="cal-time">
              6 PM
            </div>
          </div>

        </mwl-calendar-day-view-hour-segment>
      </div>
      <div class="cal-hour ng-star-inserted" style="min-width: 370px;">
        <!---->
        <mwl-calendar-day-view-hour-segment mwldroppable="" class="ng-star-inserted" style="height: 30px;">
          <!---->
          <!---->
          <div class="cal-hour-segment cal-hour-start ng-star-inserted" style="height: 30px;">
            <div class="cal-time">
              7 PM
            </div>
          </div>

        </mwl-calendar-day-view-hour-segment>
        <mwl-calendar-day-view-hour-segment mwldroppable="" class="ng-star-inserted" style="height: 30px;">
          <!---->
          <!---->
          <div class="cal-hour-segment cal-after-hour-start ng-star-inserted" style="height: 30px;">
            <div class="cal-time">
              7 PM
            </div>
          </div>

        </mwl-calendar-day-view-hour-segment>
      </div>
      <div class="cal-hour ng-star-inserted" style="min-width: 370px;">
        <!---->
        <mwl-calendar-day-view-hour-segment mwldroppable="" class="ng-star-inserted" style="height: 30px;">
          <!---->
          <!---->
          <div class="cal-hour-segment cal-hour-start ng-star-inserted" style="height: 30px;">
            <div class="cal-time">
              8 PM
            </div>
          </div>

        </mwl-calendar-day-view-hour-segment>
        <mwl-calendar-day-view-hour-segment mwldroppable="" class="ng-star-inserted" style="height: 30px;">
          <!---->
          <!---->
          <div class="cal-hour-segment cal-after-hour-start ng-star-inserted" style="height: 30px;">
            <div class="cal-time">
              8 PM
            </div>
          </div>

        </mwl-calendar-day-view-hour-segment>
      </div>
      <div class="cal-hour ng-star-inserted" style="min-width: 370px;">
        <!---->
        <mwl-calendar-day-view-hour-segment mwldroppable="" class="ng-star-inserted" style="height: 30px;">
          <!---->
          <!---->
          <div class="cal-hour-segment cal-hour-start ng-star-inserted" style="height: 30px;">
            <div class="cal-time">
              9 PM
            </div>
          </div>

        </mwl-calendar-day-view-hour-segment>
        <mwl-calendar-day-view-hour-segment mwldroppable="" class="ng-star-inserted" style="height: 30px;">
          <!---->
          <!---->
          <div class="cal-hour-segment cal-after-hour-start ng-star-inserted" style="height: 30px;">
            <div class="cal-time">
              9 PM
            </div>
          </div>

        </mwl-calendar-day-view-hour-segment>
      </div>
      <div class="cal-hour ng-star-inserted" style="min-width: 370px;">
        <!---->
        <mwl-calendar-day-view-hour-segment mwldroppable="" class="ng-star-inserted" style="height: 30px;">
          <!---->
          <!---->
          <div class="cal-hour-segment cal-hour-start ng-star-inserted" style="height: 30px;">
            <div class="cal-time">
              10 PM
            </div>
          </div>

        </mwl-calendar-day-view-hour-segment>
        <mwl-calendar-day-view-hour-segment mwldroppable="" class="ng-star-inserted" style="height: 30px;">
          <!---->
          <!---->
          <div class="cal-hour-segment cal-after-hour-start ng-star-inserted" style="height: 30px;">
            <div class="cal-time">
              10 PM
            </div>
          </div>

        </mwl-calendar-day-view-hour-segment>
      </div>
      <div class="cal-hour ng-star-inserted" style="min-width: 370px;">
        <!---->
        <mwl-calendar-day-view-hour-segment mwldroppable="" class="ng-star-inserted" style="height: 30px;">
          <!---->
          <!---->
          <div class="cal-hour-segment cal-hour-start ng-star-inserted" style="height: 30px;">
            <div class="cal-time">
              11 PM
            </div>
          </div>

        </mwl-calendar-day-view-hour-segment>
        <mwl-calendar-day-view-hour-segment mwldroppable="" class="ng-star-inserted" style="height: 30px;">
          <!---->
          <!---->
          <div class="cal-hour-segment cal-after-hour-start ng-star-inserted" style="height: 30px;">
            <div class="cal-time">
              11 PM
            </div>
          </div>

        </mwl-calendar-day-view-hour-segment>
      </div>
    </div>
  </div>
