:host {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
  overflow: auto;
  padding: 1em;
  z-index: 1000;
  &.backdrop {
    background: rgba(0, 0, 0, 0.6);
  }
  &.center {
    align-items: center;
  }
  .window {
    z-index: 1000 + 1;
    margin: 1em;
    position: relative;
    border-radius: 3px;
    .topHeader {
      background: rgba(0, 0, 0, 0.6);
      color: white;
      border-radius: 3px 3px 0 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .bg-dialog {
    background-color: #545151;
  }
  .c-case {
    color: white;
  }
  .mat-elevation-z24 {
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  }
  /* right top area */
  .RightTop {
    color: #2b7b82;
    position: fixed;
    right: 0;
    top: 0;
    padding: 12px 12px 16px 16px;
    z-index: 1000 + 1;
  }
  .background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .close {
    background: rgba(0, 0, 0, 0.6);
    border-color: rgba(0, 0, 0, 0.6);
    color: white;
  }
}
