<div #panel
  [@animate]="config.windowAnimate"
  class="window bg-dialog c-base">
  <!-- header -->
  <header *ngIf="!config.disableTitle && !!title" class="topHeader mat-elevation-z1">
    <p class="fs-nomal" [innerHTML]="title"></p>
  </header>
  <!-- content -->
  <article class="content">
    <ng-container *ngIf="isTemplate; else dCom">
      <ng-container *ngTemplateOutlet="component, context: {
        $implicit: config.data,
        complete: completeEmitter
      }"></ng-container>
    </ng-container>

    <ng-template #dCom view-container></ng-template>
  </article>
</div>

<!--background-->
<ng-container *ngIf="!config.disableBackdropClick">
  <div class="background" (click)="close()"></div>
</ng-container>

<!--close button-->
<div [@animate]="'slideInRtoL'"
  *ngIf="!config.disableCloseButton" class="RightTop" (click)="close()">
  <button class="close">
    X
  </button>
</div>
