/* https://angular.io/guide/component-styles */

$animation-time:.5s;
:host {
  display: block;
}

.month {
  opacity: 0;
  &.new {
    animation: fadeIn 1s ease-out;
    opacity: 1;
  }
  &.in {
    &.prev {
      animation: moveFromBottomFadeMonth .4s ease-out;
      opacity: 1;
    }
    &.next {
      animation: moveFromTopFadeMonth .4s ease-out;
      opacity: 1;
    }
  }
  &.out {
    &.prev {
      animation: moveToBottomFadeMonth .4s ease-in;
      opacity: 1;
    }
    &.next {
      animation: moveToTopFadeMonth .4s ease-in;
      opacity: 1;
    }
  }
}

.day {
  display: inline-block;
  width: calc(100% / 7);
  padding: 10px;
  text-align: center;
  cursor: pointer;
  .day-events {
    list-style: none;
    margin-top: 3px;
    text-align: center;
    min-height: 12px;
    line-height: 6px;
    overflow: hidden;
    span {
      display: inline-block;
      width: 5px;
      height: 5px;
      margin: 0 1px;
    }
  }
  .day-name {
    font-size: 9px;
    text-transform: uppercase;
    margin-bottom: 5px;
    letter-spacing: .7px;
  }
  .day-number {
    font-size: 24px;
  }
}

.details {
  display: none;
  position: relative;
  width: 100%;
  margin-top: 5px;
  border-radius: 4px;
  &.in {
    display: block;
    animation: moveFromTopFade $animation-time cubic-bezier(1, .05, .95, -0.13);
    .event {
      animation: fadeIn .3s ease both;
      animation-delay: .3s;
    }
  }
}

.arrow-container {
  width: 100%;
  display: flex;
  .fill {
    transition: all 0.3s ease;
  }
  .arrow {
    transform: translateX(-2.5px) translateY(-5px);
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent rgba(164, 164, 164, 1) transparent;
  }
}

.events {
  min-height: 120px;
  padding: 7px 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.event {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: .5px;
  padding: 2px 16px;
  vertical-align: top;
  display: flex;
  span {
    display: inline-block;
    padding: 0 0 0 7px;
    &:hover {
      color: yellow;
      font-size: 120%;
    }
    &:active {
      color: red;
    }
  }
  &.empty {
    color: #eee;
  }
}

.event-category {
  height: 10px;
  width: 10px;
  display: inline-block;
  margin: 6px 5px 0;
  vertical-align: top;
}

@media screen and (max-width: 320px) {
  .day {
    padding: 5px;
  }
}

/* Animations are cool!  */

@keyframes moveFromTopFade {
  0% {
    max-height: 0px;
  }
  100% {
    max-height: 9999px;
  }
}

@keyframes moveToTopFadeMonth {
  100% {
    opacity: 0;
    -moz-transform: translateY(-30%);
  }
}

@keyframes moveFromTopFadeMonth {
  0% {
    opacity: 0;
    -moz-transform: translateY(30%);
  }
}

@keyframes moveToBottomFadeMonth {
  100% {
    opacity: 0;
    transform: translateY(30%);
  }
}

@keyframes moveFromBottomFadeMonth {
  0% {
    opacity: 0;
    transform: translateY(-30%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
  }
}

@keyframes fadeOutShink {
  100% {
    opacity: 0;
    padding: 0px;
    height: 0px;
  }
}

.black {
  .day {
    color: white;
    &.other {
      color: #717171;
    }
    &.today {
      background: #467298;
      color: #53b7ff;
    }
  }
  .day-name {
    color: rgba(255, 255, 255, .5);
  }
  .details {
    background: rgba(164, 164, 164, 1);
    color: white;
  }
}

.white {
  .day {
    color: black;
    &.other {
      color: #dadada;
      .day-name {
        color: #dadada;
      }
    }
    &.today {
      background: #d7ecff;
      color: #53b7ff;
    }
  }
  .day-name {
    color: #db4437;
  }
  .arrow {
    border-color: transparent transparent #dcffc7 transparent;
  }
  .details {
    background: #dcffc7;
  }
}
