.content {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  .header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      padding: 0;
      margin: 0;
      font-size: 20px;
      line-height: 50px;
      cursor: pointer;
    }
    .header-button {
      padding: 1em;
      .button {
        border-style: solid;
        cursor: pointer;
        transition: all .5s linear;
        &.left {
          border-width: 7.5px 10px 7.5px 0;
        }
        &.right {
          border-width: 7.5px 0 7.5px 10px;
        }
      }
    }
  }

  .legend {
    width: 100%;
    height: 30px;
    line-height: 30px;
  }

  &.black {
    background: #4A4A4A;
    .header {
      background: #333333;
    }
    .title {
      color: white;
    }
    .left {
      border-color: transparent rgba(160, 159, 160, 1) transparent transparent;
      &:hover {
        border-color: transparent white transparent transparent;
      }
    }
    .right {
      border-color: transparent transparent transparent rgba(160, 159, 160, 1);
      &:hover {
        border-color: transparent transparent transparent white;
      }
    }
    .legend {
      background: #333333;
      color: white;
    }
  }
  &.white {
    background: white;
    .header {
      background: #c7c7c7;
    }
    .title {
      color: black;
    }
    .left {
      border-color: transparent black transparent transparent;
      &:hover {
        border-color: transparent white transparent transparent;
      }
    }
    .right {
      border-color: transparent transparent transparent black;
      &:hover {
        border-color: transparent transparent transparent white;
      }
    }
    .legend {
      background: #c7c7c7;
      color: black;
    }
  }
  .view-block {
    height: calc(100% - 80px);
    overflow-y: auto;
  }

}



.entry {
  position: relative;
  padding: 0 0 0 25px;
  font-size: 13px;
  display: inline-block;
  line-height: 30px;
  background: transparent;
  &:after {
    position: absolute;
    content: '';
    height: 5px;
    width: 5px;
    top: 12px;
    left: 14px;
  }
}

.entry.blue {
  &:after {
    background: rgba(156, 202, 235, 1);
  }
}

.entry.orange {
  &:after {
    background: rgba(247, 167, 0, 1);
  }
}

.entry.green {
  &:after {
    background: rgba(153, 198, 109, 1);
  }
}

.entry.yellow {
  &:after {
    background: rgba(249, 233, 0, 1);
  }
}
