<div class="content" [ngClass]="className" [ngStyle]="size" >
  <div class="header">
    <span class="header-button" (click)="prev()">
      <div class="button left"></div>
    </span>
    <h1 class="title" (click)="openSelector($event)">
      {{ monDetail }}
    </h1>
    <span class="header-button" (click)="next()">
      <div class="button right"></div>
    </span>
  </div>
  <div class="view-block" [ngSwitch]="viewMode"  (swipeleft)="next()" (swiperight)="prev()"  >

    <ngx-calendar-month-view [className]="className" *ngSwitchCase="'month'" [weekNames]="weekNames" [yearName]="yearName" [monthName]="monthName"
      [events]="events" [nstr]="nstr" (open)="openEvent($event)"></ngx-calendar-month-view>

    <ngx-calendar-week-view [className]="className" *ngSwitchCase="'week'" [events]="events" [nstr]="nstr" (open)="openEvent($event)"></ngx-calendar-week-view>

    <ngx-calendar-day-view [className]="className" *ngSwitchCase="'day'" [events]="events" [nstr]="nstr" start="9:00" end="23:00" (open)="openEvent($event)"></ngx-calendar-day-view>

  </div>

  <ul class="type-buttom" [@animate]="legendOpen">
    <li>
      <button class="button day" type="button" [disabled]="viewMode === 'day'" (click)="chaneMode('day')">日</button>
    </li>

    <li>
      <button class="button week" type="button" [disabled]="viewMode === 'week'" (click)="chaneMode('week')">周</button>
    </li>

    <li>
      <div style="display: flex;">
        <span class="open-menu" (click)="legendToggle()"></span>
        <button class="button month" type="button" [disabled]="viewMode === 'month'" (click)="chaneMode('month')">月</button>
      </div>
    </li>
  </ul>

  <div class="legend">
    <span class="entry orange">學科</span>
    <span class="entry blue">Basic 術科</span>
    <span class="entry green">L1 術科</span>
  </div>
</div>
