<div class="cal-week-view" [ngClass]="className">

  <div class="cal-day-headers">

    <div class="cal-header" *ngFor="let weekDay of weekDays; let i = index; let isFirst = first; let isLast = last" [class.cal-weekend]="isFirst || isLast"
      [class.cal-today]="weekDay.isToday">
      <b>{{ weekNames[i] }}</b>
      <br>
      <span>{{ weekDay.day }}{{ dayName }}</span>
    </div>
  </div>

  <div class="action-block">
    <div class="cal-events-row " *ngFor="let weekEvent of weekEvents; let i = index;">
      <div class="cal-event-container cal-starts-within-week cal-ends-within-week " [style.width]="weekEvent.width" [style.left]="weekEvent.left"
        [class.cal-starts-within-week]="weekEvent.startsBeforeWeek" [class.cal-ends-within-week]="weekEvent.endsAfterWeek">
        <div class="cal-event" [ngClass]="weekEvent.color">
          <span class="cal-event-actions ">
            <a class="cal-event-action " href="javascript:;">
              <i class="fa fa-fw fa-pencil"></i>
            </a>
            <a class="cal-event-action " href="javascript:;">
              <i class="fa fa-fw fa-times"></i>
            </a>
          </span>
          <a class="cal-event-title " [attr.href]="weekEvent.url" target="_blank">{{ weekEvent.title }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
